
/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: white;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu2 {
  display: block;
  max-height: 500px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu1 a {
  background-color: #C5C5C5;
  display: block;
}
.submenu2 a {
  background-color: #C5C5C5;

}

/* hover behaviour for links inside .submenu */
.submenu2 a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu1 {
  /* overflow: hidden; */
  max-height: 500px;
  /* -webkit-transition: all 0.5s ease-out; */
}
.submenu2 {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s ease-out;
}
